<!-- shamelessly copied from https://github.com/tiagobalmeida/purecss-circular-progress-bar -->

<div class="progress-circle p{{percentage$ | async}}"
     [ngClass]="{'over50' : (percentage$ | async)>50}">
  <div class="inside-ring">
    <p class="time-value">{{currentSeconds$ | async | timeFormat}}</p>
    <p class="time-unit">{{currentSeconds$ | async | timeUnit}}</p>
  </div>
  <div class="left-half-clipper">
    <div class="first50-bar"></div>
    <div class="value-bar"></div>
  </div>
</div>
