// https://www.colourlovers.com/palette/1415881/RTM3

.container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin: 20px;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 12px;
  border-color: lightgray;
  color: #594A30;
}

.time-display {
  font-weight: bold;
  font-size: 4em;
}
